.DS_Store
/apache-ant-1.10.15
/dedicon-default.scss
/lib/*.jar
/lib/*.zip
/main.jar
/main.class
/main$*.class
/odt2braille.class
/odt2braille$*.class
/odt2daisy.class
/odt2daisy$*.class
/scripts.class
/scripts$*.class
/dist/
/dist-check/
/log/
/OpenJDK11U-jdk_aarch64_mac_hotspot_11.0.26_4/
/OpenJDK11U-jdk_x64_windows_hotspot_11.0.26_4/
