/**
 * Copyright © 2024, 2025 Luisterpuntbibiotheek
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or (at
 * your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>.
 */

@media embossed {

	// we can assume input is DTBook (coming from text-to-brf script)

	$page-width: 33;
	$page-height: 28;

	/**
	 * @var boolean $duplex
	 *
 	 * Dubbelzijdig
	 */
	$duplex: false !default;

	// use Dedicon's style sheet as base
	// this style sheet is specific for Dedicon's source documents and pre-processing, but it is a good start
	$show-print-page-numbers: true;
	$show-braille-page-numbers: true;
	$include-document-toc-in-last-volume: true;
	$show-inline-print-page-numbers: true;
	$vertical-position-title-page-footer: 1;
	$use-resumed-functionality-in-toc: true; }

	@import url("dedicon-default.scss") embossed;

@media not embossed {

	// we can assume input is HTML (coming from text-to-ebraille script)

	html, address,
	blockquote,
	body, dd, div,
	dl, dt, fieldset, form,
	frame, frameset,
	h1, h2, h3, h4,
	h5, h6, noframes,
	ol, p, ul, li, center,
	dir, hr, menu, pre,
	table,
	tr,
	thead,
	tbody,
	tfoot,
	td, th,
	caption,
	button, textarea,
	input, select {
		display: block
	}

	head {
		display: none
	}
}

@media braille, embossed {

	// input can be either HTML or DTBook

	/**
	 * Zes- of achtpunts-braille
	 */
	$dots: 6 !default;

	@text-transform {
		system: braille;
		language: nl;
		type: if($dots == 6, literary, computer);
	}

	em, i {
		text-transform: -louis-italic;
	}

	strong, b {
		text-transform: -louis-bold;
	}

	u {
		text-transform: -louis-underline;
	}

	/**
	 * Hoofdlettertekens weergeven
	 */
	$capital-letters: true !default;

	@if $capital-letters != true {
		:root {
			text-transform: lowercase;
		}
	}
}
